{% extends "base.html" %}

{# номер лабораторной работы: #}
{% block lab %}Лабораторная работа 4{% endblock %}

{# основной конент: #}
{% block main %}
    <h1>Формы (POST)</h1>
    <div>Тема лабораторной - Формы (POST). Список сделанных страниц:</div>
    <ul>
       <li><a href="/lab4/div-form">Деление</a></li>
       <li><a href="/lab4/tree">Счетчик деревьев</a></li>
       <li><a href="/lab4/login">Авторизация</a></li>
       <li><a href="/lab4/fridge">Холодильник онлайн</a></li>
    </ul>
{% endblock %}