{% extends "base.html" %}

{# номер лабораторной работы: #}
{% block lab %}Лабораторная работа 2{% endblock %}

{# основной конент: #}
{% block main %}
    <h1>Шаблоны</h1>
    <div>Тема лабораторной - шаблоны. Список сделанных страниц:</div>
    <h1>Вторая лабораторная</h1>
    <ul>
        <li><a href="{{ url_for('lab2.a2') }}">Со слэшем</a></li>
        <li><a href="{{ url_for('lab2.a') }}">Без слэша</a></li>
        <li><a href="{{ url_for('lab2.show_books') }}">Список книг</a></li>
        <li><a href="{{ url_for('lab2.object') }}">Список объектов</a></li>
        <li><a href="{{ url_for('lab2.calc', a=1, b=1) }}">Калькулятор</a></li>
        <li><a href="{{ url_for('lab2.example') }}">Калькулятор (по умолчанию)</a></li>
        <li><a href="{{ url_for('lab2.calc_single_number', a=100500) }}">Калькулятор (одно число)</a></li>
        <li><a href="{{ url_for('lab2.flowers', flower_id=0) }}">Цветы</a></li>
        <li><a href="{{ url_for('lab2.all_flowers') }}">Все цветы</a></li>
        <li><a href="{{ url_for('lab2.add_flower', name='Новый цветок') }}">Добавить цветок</a></li>
        <li><a href="{{ url_for('lab2.clear_flowers') }}">Очистить список цветов</a></li>
    </ul>
{% endblock %}