{% extends "base.html" %}

{% block lab %}Лабораторная работа 5{% endblock %}

{% block main %}

    <h1>Статьи</h1>

    {% if articles %}
        {% for article in articles %}
            <h2 class="article-title">{{ article['tittle'] }}</h2>
            <blockquote class="article-text">{{ article['article_text'] }}</blockquote>
        {% endfor %}
    {% else %}
        <h2 class="article-title">У вас пока нет статей!</h2>
        <blockquote class="article-text"><a href="/lab5/create">Напишите первую статью</a>!</blockquote>
    {% endif %}

{% endblock %}